<html>
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
<h1>Логин</h1>
<form name="form" action="/api/login" method='POST'>
    <table>
        <tr>
            <td>Почта:</td>
            <td><input type='text' name='username' value=''></td>
        </tr>
        <tr>
            <td>Пароль:</td>
            <td><input type='password' name='password' /></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="Отправить" /></td>
        </tr>
    </table>
    <div th:if="${error != null}"><span th:text="${error}" /></div>
</form>
<ul>
    <li><a href="/">На главную</a></li>
    <li><a href="/api/signup">Регистрация</a></li>
</ul>
</body>
</html>