<html>
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h1 text="Форма регистрации">Форма регистрации</h1>
<form action="/api/register" th:object="${user}" method="POST" enctype="utf8">
    <div>
        <label>Почта</label>
        <input th:field="*{username}"/>
    </div>
    <div>
        <label>Пароль</label>
        <input type="password" th:field="*{password}"/>
    </div>
    <div>
        <label>Подтвердите пароль</label>
        <input type="password" th:field="*{matchingPassword}"/>
    </div>
    <button type="submit">Отправить</button>
    <div th:if="${#fields.hasAnyErrors()}">
        <ul>
            <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </ul>
    </div>

</form>
<ul>
    <li><a th:href="@{/api/login}" text="Login">Страница авторизации</a></li>
    <li><a th:href="@{/}" text="Index">На главную</a></li>
</ul>
</body>
</html>
