<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<div sec:authorize="!isAuthenticated()">
    <h2>Notes application</h2>
</div>
<ul>
    <li><a href="/">На главную</a></li>
    <div sec:authorize="!isAuthenticated()">
        <li><a href="/api/login">Авторизация</a></li>
        <li><a href="/api/signup">Регистрация</a></li>
    </div>
    <div sec:authorize="isAuthenticated()">
        <li><a href="/api/notes">Список заметок</a></li>
        <li><a href="/api/createNote">Добавить заметку</a></li>
        <li><a href="/logout">Выйти</a></li>
    </div>
</ul>

<div sec:authorize="isAuthenticated()">
    <h4>Заметок создано пользователем: <span th:text="${@noteService.countNote()}" /></h4>
</div>
</body>
</html>